@{
  var errorMessage = ViewData["errorMessage"] as string;
  var designs = ViewData["designs"] as
  List<DesignModel>;
  var filter = ViewData["filter"] as string;
}

<div class="error-message-display-box">
  <div class="error-message-container">
    <div class="error-message">
      @errorMessage
    </div>
  </div>
</div

<div class="text-center">
  <div class="controls-container">
    <form asp-action="Index" method="get">
      <div class="form-inner-container">
        <label for="filter">Text
          to
          search</label>
        <input 
          type="text" 
          id="filter"
          placeholder="Text to search"
          name="filter" 
          value="@filter"
        />
        <input type="submit" value="Search" class="search-button" />
      </div>
    </form>

    <form action="/Home/UpdateFilteredDesignsTexts" method="post">
      <div class="form-inner-container">
        <label for="replaceAll">Replace
          with</label>
        <input
          type="text" 
          id="replaceAll"
          name="replaceAll"
          placeholder="Replace text"
          onblur="saveReplaceValue()"
        />
        <input 
          type="hidden" 
          name="filter" 
          value="@filter" 
        />
        <input type="submit" value="Update filtered" class="update-button" />
      </div>
    </form>
  </div>

  <div class="designs-grid">
    @foreach (var design in designs)
    {
        <div class="design">
          <img src="@design.PreviewImage"
            alt="Preview image">
          <div class="button-container">
            
              <form action="/Home/UpdateDesignById" method="post">
                <input type="hidden" name="id" value="@design.Id" />
                <input 
                  type="hidden"
                  id="replace" 
                  name="replace"
                  value=""
                />
                <input 
                  type="hidden" 
                  name="filter" 
                  value="@filter" 
                />
                <input type="submit" value="Update" class="update-button" />
              </form>

              <form action="/Home/DeleteDesignById" method="post">
                <input type="hidden" name="id" value="@design.Id" />
                <input 
                  type="hidden" 
                  id="filter"
                  name="filter" 
                  value="@filter" 
                />
                <input type="submit" value="Delete" class="delete-button" />
              </form>
          </div>
        </div>
    }
  </div>
</div>

<script>
  function saveReplaceValue() {
    var replaceAllInput = document.getElementById("replaceAll");
    var replaceInput = document.getElementById("replace");
    replaceInput.value = replaceAllInput.value;
  }

  document.addEventListener("DOMContentLoaded", function() {
    var errorMessage = '@errorMessage';
    if (errorMessage) {
      var errorBox = document.querySelector('.error-message-display-box');
      errorBox.style.display = 'block';
      setTimeout(function() {
        errorBox.style.display = 'none';
      }, 3000);
    }
  });
</script>
